div{
  display: block;
}

body{
  font-family: monospace
}

#notes-area{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  border-right: solid 1px #FCFCFC;
  background-color: rgba(190, 180, 240, 0.57);
  float: left;
}

#header{
  width: 100%;
  height: auto;
  float: left;
  position: absolute;
  top: 8.35%;
  text-align: center;
  font-size: 40px;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}

#notes{
  width: 100%;
  height: auto;
  position: absolute;
  top: 45.19%;
}


#note{
  position: absolute;
  right: 0px;
  width: 80%;
  background-color: rgba(235, 227, 255, 0.43);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 45%;
  font-size: 20px;
}

.list-group{
  position: absolute;
  left:0px;
  bottom:0;
}


#addnote-area{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 80%;
  height: 45%;
  background-color: white;
}

#NewNote{
  font-size: 150px;
  text-align: -webkit-center;
  color: rgba(236, 232, 232, 0.44);
  margin-top: 3%;
}

textarea{
  position: absolute;
  width: 80%;
  height: 200px;
  bottom: 15%;
  left: 10%;
  top: 15%;
  background-color: rgba(255, 255, 255, 0);
  border-width: 3px;
  border-color: rgba(233, 233, 233, 0.79);
  border-radius: 2%;
}

#submit{
  text-align: right;
margin-right: 10%;
margin-top: 2%;
}
